@media all and (max-width: 590px) {
  body {
    .container {
      .slider {
        .slider__controls {
          top: 70%;
          padding: 0;
          &--right,
          &--left {
            width: 60px;
            height: 60px;
          }
        }
        .slider__slides {
          width: 100%;
        }
      }
    }
  }
}
