* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", cursive;
}
body {
  width: 100vw;
  height: 100vh;
  .container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #114357, #f29492);
    .slider {
      width: 100%;
      height: 100%;
      //   background-color: transparent;
      display: flex;
      justify-content: center;
      .slider__controls {
        transition: 0.4s;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        padding: 0 20px;
        &--left,
        &--right {
          width: 40px;
          height: 40px;
          border: 2px solid black;
          border-radius: 50%;
          font-size: 1rem;
          font-weight: 900;
          padding: 10px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          background-color: rgba(255, 255, 255, 0.3);
          transition: all 0.4s;
          &:hover {
            background-color: rgba(255, 255, 255, 0.6);
            border: 2px solid rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
    .slider__slides {
      min-width: 80%;
      // min-width: 60%;
      //   background-color: #fff;
      height: 100%;
      overflow: hidden;
      .slider__img {
        // min-width: 70%;
        max-width: 100%;
        height: 100%;
        filter: contrast(0.9);
        background-image: url(https://cdn.pixabay.com/photo/2017/10/04/18/11/road-2817102_960_720.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        animation: show 0.6s ease-in-out;
        transition: opacity 0.3s;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .slider__text--big {
          color: white;
          letter-spacing: 2px;
          font-size: 3rem;
          padding: 0 0 40px 0;
        }
        .slider__text--low {
          color: white;
          letter-spacing: 1px;
          font-weight: bold;
        }
      }
    }
    .slider__dots {
      position: fixed;
      height: 20px;
      display: flex;
      width: 100%;
      justify-content: center;
      bottom: 20px;
      left: 0;
      .slider__dot {
        width: 15px;
        height: 15px;
        border: 2px solid white;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        margin-right: 4px;
        cursor: pointer;
        &.active {
          background-color: rgba(255, 0, 0, 0.5);
        }
      }
    }
  }
}
