* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", cursive;
}

body {
  width: 100vw;
  height: 100vh;
}

body .container {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#114357), to(#f29492));
  background: linear-gradient(to right, #114357, #f29492);
}

body .container .slider {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .slider .slider__controls {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}

body .container .slider .slider__controls--left, body .container .slider .slider__controls--right {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 900;
  padding: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

body .container .slider .slider__controls--left:hover, body .container .slider .slider__controls--right:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: white;
}

body .container .slider__slides {
  min-width: 80%;
  height: 100%;
  overflow: hidden;
}

body .container .slider__slides .slider__img {
  max-width: 100%;
  height: 100%;
  -webkit-filter: contrast(0.9);
          filter: contrast(0.9);
  background-image: url(https://cdn.pixabay.com/photo/2017/10/04/18/11/road-2817102_960_720.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-animation: show 0.6s ease-in-out;
          animation: show 0.6s ease-in-out;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .slider__slides .slider__img .slider__text--big {
  color: white;
  letter-spacing: 2px;
  font-size: 3rem;
  padding: 0 0 40px 0;
}

body .container .slider__slides .slider__img .slider__text--low {
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
}

body .container .slider__dots {
  position: fixed;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 20px;
  left: 0;
}

body .container .slider__dots .slider__dot {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 4px;
  cursor: pointer;
}

body .container .slider__dots .slider__dot.active {
  background-color: rgba(255, 0, 0, 0.5);
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media all and (max-width: 590px) {
  body .container .slider .slider__controls {
    top: 70%;
    padding: 0;
  }
  body .container .slider .slider__controls--right, body .container .slider .slider__controls--left {
    width: 60px;
    height: 60px;
  }
  body .container .slider .slider__slides {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */